<!DOCTYPE html>
<html>

<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "HOME", "/home/top", id: "logo" %>
    <nav>
  </div>
</header>

<body>
  <div>
    <h1>PAY.JP Sample pay system</h1>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <form action="/pay" method="post">
          <!-- 注文情報などの情報ここから -->
            :
          <!-- 注文情報などの情報ここまで -->
          <script src="https://checkout.pay.jp/" class="payjp-button" data-key=@pub_env></script>
        </form>

      </div>
    </div>

  </div>
</body>
</html>
