@import "bootstrap-sprockets";
@import "bootstrap";

h1 {
  font-size: 2.5em;
  letter-spacing: -2px;
  margin-bottom: 100px;
  text-align: center;
  padding-top: 100px;
}

body {

}


#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  font-size: 1.5em;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

/* alerts */
.alert-notice{
    color: white;
    background-color: green;
    width: 60%;
    text-align: center;
    margin: 60px auto;
}
